@model EntityLayer.Concrete.Experience



@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3>
        Deneyim Düzenleme Sayfası
    </h3>
</div>
@using (Html.BeginForm("UpdateExperience", "Experience", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.Name,new{@class="form-control"})
    <br />

    @Html.Label("Deneyim Başlığı")
    @Html.TextBoxFor(x=>x.Name,new {@class = "form-control"})
    <br />
    <label>Tarih Bilgisi</label>
    @Html.TextBoxFor(x=>x.Date,new {@class = "form-control"})
    <br />
    <label>Resim Yolu</label>

    @Html.TextBoxFor(x=>x.ImageUrl,new {@class = "form-control"})
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x=>x.Description,new {@class = "form-control"})

    <button class="btn btn-outline-success">Güncelle</button>


}
